html,
body {
    margin: 0;
}

#app {
    width: 100vw;
    height: 100dvh;
}

.wplace-tile {
    image-rendering: pixelated;
}

#ad {
    position: absolute;
    transform: translateX(-50%);
    bottom: 20px;
    left: 44%;
    width: min(728px, 100vw - 50px);
    height: 90px;
    z-index: 1000;
    background-color: lightblue;
}